html { height: 100%; }
body {
  font-size: 1em;
  xmin-width: 640px;
  height: 100%;
  box-sizing: border-box;
  color: #555;
}
main { height: 100%; }

a { color: #555; }
a:hover { color: black; }

.icon {
  height: 1em; width: 1em;  
  background-size: 100% 100%;
  display: inline-block;
  opacity: 0.2;
}
.icon:not(.active) { cursor: pointer; }
.icon { margin: 5px }
.icon:hover { opacity: 0.35; }
.icon:active, .icon.active { opacity: 0.5; }
.disabled.icon { opacity: 0.2; cursor: default; }

.fade.out { opacity: 0; }
.fade.in { opacity: 1; transition: opacity 1s ease-in-out; }

select, button {
  height: 1.5em;
  border-radius: 7.5px;
  color: #555;
  border-color: #555;
  background-color: #eee;
  -webkit-appearance: none;
  padding: 0em 0.5em; 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

