html { height: 100%; }
body {
  font-size: 1em;
  height: 100%;
  box-sizing: border-box;
  color: #555;
}
main { height: 100%; }

a { color: #555; }
a:hover { color: black; }

.icon { height: 1em; width: 0.5em; opacity: 0.5; color: #333; }
.icon:not(.active) { cursor: pointer; }
.icon { margin: 5px }
.icon:hover { opacity: 0.7; }
.icon:active, .icon.active { opacity: 1; }
.disabled.icon { opacity: 0.4; cursor: default; }

select, button {
  height: 1.5em;
  border-radius: 7.5px;
  color: #555;
  border: 1px solid #555;
  background-color: #eee;
  -webkit-appearance: none;
  padding: 0em 0.5em; 
}

select:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #333;
}

button:hover { }
button:active { border: 2px solid #555; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

