body { font-size: 1em; min-width: 1210px; height: 100%; box-sizing: border-box; }
main { float: left; width: 50%; box-sizing: border-box; }
nav { padding: 1em; }
iframe {  
  padding: 1em; 
  width: 50%;
  height: 100%;
  float: right;
  border: 0px;
  border-left: 1px solid gray; 
  box-sizing: border-box;
}

select { margin-left: 1em; }
.script-view {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.icon {
  height: 1em; width: 1em;  
  background-size: 100% 100%;
  display: inline-block;
  opacity: 0.25;
}
.icon:not(.active) { cursor: pointer; }
.icon { margin: 5px }
.icon:hover { opacity: 0.35; }
.icon:active, .icon.active { opacity: 1; }
.pause.icon { background-image: url(glyphicons/glyphicons_174_pause.png); }
.play.icon { background-image: url(glyphicons/glyphicons_173_play.png); }
.step-forward.icon { background-image: url(glyphicons/glyphicons_178_step_forward.png); }
.step-backward.icon { background-image: url(glyphicons/glyphicons_170_step_backward.png); }
.fast-backward.icon { background-image: url(glyphicons/glyphicons_171_fast_backward.png); }
.fast-forward.icon { background-image: url(glyphicons/glyphicons_177_fast_forward.png); }
.error.icon { background-image: url(glyphicons/glyphicons_196_circle_exclamation_mark.png); }
.error { float: right; }
.error-inline { background-color: red; opacity: 0.75; color: white; font-weight: bold; }
input[type=range] { width: 100%; }
.timeline { margin: 1em 0; }
.timeline .status { margin: 0 1em 0 0; float: left; }
.timeline .input-container { overflow: hidden;; }

.CodeMirror { border-top: 1px solid gray; top: 11em; width: 50%; line-height: normal;}
.script-view { display: none; }
.var-name { font-weight: bold; color: darkblue; }
.var-val { color: green; }
.var-assignment { color: gray; }

.bookmark { cursor: pointer; }
.bookmark, .widget-inner {
  background-color: rgba(173, 216, 230, .25); 
  padding: 0 0.5em;
}
.bookmark, .widget {  
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: blue;
  font-size: 0.75em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid lightblue;
  color: blue;
}
.widget {
  background-color: white;
  z-index: 2;
  margin-top : 0.25em;
  max-height: 25em;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}
.widget-inner { padding: 1px 0.5em; }
.widget-label.Function { color: green; }
.widget-label.Object { color: brown; }
.widget-label.Array { color: gray; }

.bookmark-loc { font-weight: bold; }
.current-loc { text-decoration: underline; }
.current { text-decoration: underline; }
.bookmark:hover { font-weight: bold; }

.continue-message { font-style: italic; opacity: 0; transition: opacity 0.25s ease-in-out; }
.show.continue-message { opacity: 1; transition: opacity 1s ease-in-out; }


