nav, #start-message { margin: 10px; }
select { margin-left: 10px; }
.CodeMirror {
  border-top: 1px solid black;
}
.CodeMirror-fullscreen { top: 45px; }
.script-view { display: none; }
.var-name { font-weight: bold; color: darkblue; }
.var-val { color: green; }
.var-assignment { color: gray; }

.bookmark, .widget-inner {
  background-color: rgba(173, 216, 230, .25); 
  padding: 0 0.5em;
}
.bookmark, .widget {  
  color: blue;
  font-size: 0.75em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid lightblue;
  color: blue;
  cursor: pointer;
}
.widget {
  background-color: white;
  z-index: 2;
  margin-top : 0.25em;
  max-height: 318px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}
.widget-inner { padding: 1px 0.5em; }
.widget-label.Function { color: green; }
.widget-label.Object { color: brown; }
.widget-label.Array { color: gray; }
