<div class="main-container">

  <nav>
    <div class="top">
      <span ng-show="hasScripts()">
        Select script:
        <select ng-model="programState.currentScript">
          <option ng-repeat="(script, log) in timeline.programState.scripts" value="{{script}}">{{script}}</option>
        </select>
      </span>

      <a class="github" href="https://github.com/omphalos/earhorn" title="View the source at github.com.">github</a>
    </div>

    <div class="timeline">
      <div class="status">
        <span title="Fast Backward" class="fast-backward icon" ng-click="timeline.fastBackward()"></span>
        <span title="Step Backward" class="step-backward icon" ng-click="timeline.stepBackward()"></span>
        <span title="Pause" class="pause icon" ng-class="{ active: !timeline.isPlaying() }" ng-click="timeline.pause()"></span>
        <span title="Play" class="play icon" ng-class="{ active: timeline.isPlaying() }" ng-click="timeline.play()"></span>
        <span title="Step Forward" class="step-forward icon" ng-click="timeline.stepForward()"></span>
        <span title="Fast Forward" class="fast-forward icon" ng-click="timeline.fastForward()"></span>
      </div>
      <div class="input-container">
        <input type="range" min="0" max="{{timeline.history.length - 1}}" ng-model="timelinePosition">
      </div>
    </div>

    <span class="continue-message fade-out">Press play to continue.</span-->
    <!--span class="error">
      <span title="Go to error" class="error icon"></span>
    </span-->

  </nav>

  <div class="main-content">
    <editor ng-class="{ full: !iframe, half: !!iframe }" model="code" init-mode="text/javascript" init-full-screen="true" init-line-numbers="true"></editor>
    <iframe ng-if="!!iframe" src="{{iframe}}">IFRAME</iframe>
  </div>

</div>