<div ng-class="{ 'main-container': 1, editing: getMode() == 'Editing', playing: getMode() == 'Playing', paused: getMode() == 'Paused' }">

  <nav>
    <div class="top">
      <span ng-show="getScriptCount()">
        <select ng-show="getScriptCount() > 1" ng-model="programState.currentScript">
          <option ng-repeat="(script, log) in timeline.programState.scripts" value="{{script}}">{{script}}</option>
        </select>
        <button ng-show="getCurrentScript().modified && getScriptCount() > 1" ng-click="revertChanges()" title="Revert changes.">X</button>
        <button ng-show="getCurrentScript().modified && getScriptCount() == 1" ng-click="revertChanges()" title="Revert changes.">Revert</button>
      </span>

      <a class="github" href="https://github.com/omphalos/earhorn" title="View the source at github.com.">GitHub</a>
    </div>

    <div class="timeline">
      <div class="buttons">
        <span ng-show="settings.display.fastBackward" title="Fast Backward" ng-class="{ 'fast-backward': 1, icon: 1, disabled: editing }" ng-click="timeline.fastBackward()"></span>
        <span ng-show="settings.display.stepBackward" title="Step Backward" ng-class="{ 'step-backward': 1, icon: 1, disabled: editing }" ng-click="timeline.stepBackward()"></span>
        <span ng-show="settings.display.pause" title="Pause" class="pause icon" ng-class="{ active: !timeline.isPlaying() }" ng-click="timeline.pause()"></span>
        <span ng-show="settings.display.play" title="Play" class="play icon" ng-class="{ active: timeline.isPlaying() }" ng-click="play()"></span>
        <span ng-show="settings.display.stepForward" title="Step Forward" ng-class="{ 'step-forward': 1, icon: 1, disabled: editing }" ng-click="timeline.stepForward()"></span>
        <span ng-show="settings.display.fastForward" title="Fast Forward" ng-class="{ 'fast-forward': 1, icon: 1, disabled: editing }" ng-click="timeline.fastForward()"></span>
      </div>
      <div class="input-container">
        <input type="range" ng-disabled="editing || !timeline.history.length" range-input="timelinePosition" range-min="0" range-max="timeline.history.length - 1">
      </div>
    </div>

  </nav>

  <div class="status">
    <span class="error-summary" ng-click="goToError()" title="{{getParseErrors()[0]}}" ng-show="getParseErrors().length">{{parseError.message}}</span>
  </div>

  <div class="main-content" ng-click="widgetKey = null">
    <editor
      ng-class="{ full: !iframe, half: !!iframe }"
      code="code"
      line="currentLine"
      ch="currentCh"
      init-autofocus="true"
      init-style-active-line="true"
      init-mode="text/javascript"
      init-full-screen="true"
      init-line-numbers="true"
      bookmarks="getBookmarks()"
      bookmark-template="bookmarkTemplate"
      widget-line="widgetLine"
      widget-ch="widgetCh"
      widget-template="widgetTemplate"
      markers="getMarkers()"
      line-widgets="getLineWidgets()"
      focus-event="focusEvent"
      element="editor" >
    </editor>
    <iframe ng-if="!!iframe" src="{{iframe}}">IFRAME</iframe>
    <!--iframe ng-if="!iframe">
      <html>
      <body>
        <script>console.log('sandbox')</script>
        <script src="sandbox.js"></script>
      </body>
      </html>
    </iframe-->
  </div>

  <script type="text/ng-template" id="errorLineWidgetTemplate">
    <div class="error-inline"><pre>{{model}}</pre></div>
  </script>

  <script type="text/ng-template" id="bookmarkTemplate">
    <span
      ng-mouseenter="hover(key,log.loc)"
      ng-mouseleave="unhover()"
      ng-class="{ bookmark: 1, current: key == programState.currentLoc, caught: log.caught }"
      ng-click="toggleWidget($event, key)">{{getLogText(log.val)}}</span>
  </script>

  <script type="text/ng-template" id="widgetTemplate">
    <span ng-show="getWidgetLog() && widgetScript == programState.currentScript" ng-class="{ widget: 1, caught: getWidgetLog().caught }">
      <div ng-if="getWidgetLog()" class="widget-inner {{getWidgetLog().type}}">
        <!-- TODO: use ng-switch -->

        <!-- Object widgets -->
        <span ng-if="getWidgetLog().val.type == 'Object'">
          <div ng-repeat="(key, value) in getWidgetLog().val.properties" title="value.type">
            <span class="widget-label {{value.type}}">
              {{key}}<span ng-if="value.type == 'Function'">()</span>
            </span>
            <span class="widget-separator">: </span>
            <span class="widget-value {{value.type}}">{{getLogText(value, key)}}</span>
          </div>
          <div ng-if="!getWidgetLog().val.complete">...</div>
        </span>

        <!-- Array widgets -->
        <span ng-if="getWidgetLog().val.type == 'Array'">
          <div ng-repeat="(key, value) in getWidgetLog().val.elements" title="value.type">
            <span class="widget-label {{value.type}}">
              {{key}}<span ng-if="value.type == 'Function'">()</span>
            </span>
            <span class="widget-separator">: </span>
            <span class="widget-value {{value.type}}">{{getLogText(value)}}</span>
          </div>
          <div ng-if="!getWidgetLog().val.elements.length">{{getWidgetLog().val.type}}</div>
          <div ng-if="getWidgetLog().val.length !== getWidgetLog().val.elements.length">...</div>
        </span>

        <!-- Other widgets -->
        <span ng-if="getWidgetLog().val.type !== 'Object' && getWidgetLog().val.type !== 'Array'">
          {{getWidgetLog().val.type}}
        </span>
      </div>
    </span>
  </script>

</div>