<div ng-class="{ 'main-container': 1, editing: getMode() == 'Editing', playing: getMode() == 'Playing', paused: getMode() == 'Paused' }">

  <nav>
    <div class="top">
      <span ng-show="getScriptCount()">
        <select ng-show="getScriptCount() > 1" ng-model="editScript">
          <option 
            ng-repeat="(script, log) in timeline.programState.scripts" 
            value="{{script}}">{{script}}</option>
        </select>
        <button 
          ng-show="getEditScript().modified && getScriptCount() > 1" 
          ng-click="revertChanges()" 
          title="{{tooltipFor('Revert Changes', 'revertChanges()')}}.">X</button>
        <button 
          ng-show="getEditScript().modified && getScriptCount() == 1" 
          ng-click="revertChanges()" 
          title="{{tooltipFor('Revert Changes', 'revertChanges()')}}.">Revert</button>
      </span>

      <a class="github" href="https://github.com/omphalos/earhorn" title="View the source at github.com.">GitHub</a>
    </div>

    <p class="no-scripts-message" ng-show="!getScriptCount()">
      No scripts loaded.  You can visit the <a href="#/hideFrame=true,iframe=sandbox.html">sandbox</a>
      or run a script in the current domain using the earhorn$() function.
    </p>

    <div class="timeline" ng-show="getScriptCount()">
      <div class="buttons">
        <span 
          ng-show="settings.display.fastBackward" 
          ng-class="{ 'fast-backward': 1, icon: 1, disabled: editing }" 
          title="{{tooltipFor('Fast Backward', 'timeline.fastBackward()')}}" 
          ng-click="timeline.fastBackward()"></span>
        <span 
          ng-show="settings.display.stepBackward" 
          ng-class="{ 'step-backward': 1, icon: 1, disabled: editing }" 
          title="{{tooltipFor('Step Backward', 'timeline.stepBackward()')}}" 
          ng-click="timeline.stepBackward()"></span>
        <span 
          ng-show="settings.display.pause" 
          ng-class="{ pause: 1, icon: 1, active: !timeline.isPlaying() }" 
          title="{{tooltipFor('Pause', 'timeline.pause()')}}" 
          ng-click="timeline.pause()"></span>
        <span 
          ng-show="settings.display.play" 
          class="play icon" 
          ng-class="{ active: timeline.isPlaying() }" 
          title="{{tooltipFor('Play', 'play()')}}" 
          ng-click="play()"></span>
        <span 
          ng-show="settings.display.stepForward" 
          ng-class="{ 'step-forward': 1, icon: 1, disabled: editing }" 
          title="{{tooltipFor('Step Forward', 'timeline.stepForward()')}}" 
          ng-click="timeline.stepForward()"></span>
        <span 
          ng-show="settings.display.fastForward" 
          ng-class="{ 'fast-forward': 1, icon: 1, disabled: editing }" 
          title="{{tooltipFor('Fast Forward', 'timeline.fastForward()')}}" 
          ng-click="timeline.fastForward()"></span>
      </div>
      <div class="input-container">
        <input 
          type="range" 
          ng-disabled="editing || !timeline.history.length" 
          range-input="timelinePosition" 
          range-min="0" 
          range-max="timeline.history.length - 1">
      </div>
    </div>

  </nav>

  <div class="main-content" ng-click="widgetKey = null" ng-show="getScriptCount()">
    <editor
      ng-class="{ full: hideFrame || !iframe, half: !hideFrame && iframe }"
      code="code"
      line="currentLine"
      ch="currentCh"
      init-autofocus="true"
      init-style-active-line="true"
      init-mode="text/javascript"
      init-full-screen="true"
      init-line-numbers="true"
      bookmarks="getBookmarks()"
      bookmark-template="bookmarkTemplate"
      widget-line="widgetLine"
      widget-ch="widgetCh"
      widget-template="widgetTemplate"
      markers="getMarkers()"
      line-widgets="getLineWidgets()"
      focus="editorFocus"
      element="editor" >
    </editor>
    <iframe ng-if="iframe" src="{{iframe}}"></iframe>
  </div>

  <script type="text/ng-template" id="errorLineWidgetTemplate">
    <div class="error-inline"><pre ng-bind="model"></pre></div>
  </script>

  <script type="text/ng-template" id="bookmarkTemplate">
    <span
      ng-cloak
      ng-show="getLogTextForKey(key)"
      ng-mouseenter="hover(key,model.loc)"
      ng-mouseleave="unhover()"
      ng-class="{ bookmark: 1, current: key == programState.currentLoc, caught: model.caught }"
      ng-bind="getLogTextForKey(key)"
      ng-click="toggleWidget($event, key)"></span>
  </script>

  <script type="text/ng-template" id="widgetTemplate">
    <span 
      ng-show="getWidgetLog() && widgetScript == editScript" 
      ng-class="{ widget: 1, caught: getWidgetLog().caught }">

      <div ng-if="getWidgetLog()" class="widget-inner {{getWidgetLog().type}}">
        <!-- TODO: use ng-switch -->

        <!-- Object widgets -->
        <span ng-if="getWidgetLog().val.type == 'Object'">
          <div>{{getLogText(getWidgetLog().val)}}</div>
          <div ng-if="getWidgetLog().val.errorMessage" class="error-string">{{getWidgetLog().val.errorMessage}}</div>
          <div ng-repeat="(key, value) in getWidgetLog().val.properties" title="value.type">
            <span class="widget-label {{value.type}}">
              {{key}}<span ng-if="value.type == 'Function'">()</span>
            </span>
            <span class="widget-separator">: </span>
            <span class="widget-value {{value.type}}">{{getLogText(value, key)}}</span>
          </div>
          <div ng-if="!getWidgetLog().val.complete">...</div>
        </span>

        <!-- Array widgets -->
        <span ng-if="getWidgetLog().val.type == 'Array'">
          <div ng-repeat="(key, value) in getWidgetLog().val.elements" title="value.type">
            <span class="widget-label {{value.type}}">
              {{key}}<span ng-if="value.type == 'Function'">()</span>
            </span>
            <span class="widget-separator">: </span>
            <span class="widget-value {{value.type}}">{{getLogText(value)}}</span>
          </div>
          <div ng-if="!getWidgetLog().val.elements.length">{{getWidgetLog().val.type}}</div>
          <div ng-if="getWidgetLog().val.length !== getWidgetLog().val.elements.length">...</div>
        </span>

        <!-- Other widgets -->
        <span ng-if="getWidgetLog().val.type !== 'Object' && getWidgetLog().val.type !== 'Array'">
          {{getWidgetLog().val.type}}
        </span>
      </div>
    </span>
  </script>

</div>