.main-container { height: 100%; }
.main-container nav { padding: 1em; height: 7em; }
.main-container .main-content { border-top: 1px solid #555; }

.main-container .CodeMirror {  
  width: auto;
  position: fixed; 
  top: 145px;
  bottom: 0;
  height: auto; 
}

.main-container editor.half .CodeMirror { left: 0; right: 50%; border-right: 1px solid #555; }
.main-container editor.full .CodeMirror { left: 0; right: 0; } /* TODO */

iframe {
  width:  50%;
  min-height: 100%;
  border: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: right;
}

.main-container .top { height: 1.5em; }


.main-container a.github { float: right; }

.main-container select { margin-left: 1em; }
.main-container .timeline {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.main-container .pause.icon { background-image: url(../../glyphicons/glyphicons_174_pause.png); }
.main-container .play.icon { background-image: url(../../glyphicons/glyphicons_173_play.png); }
.main-container .step-forward.icon { background-image: url(../../glyphicons/glyphicons_178_step_forward.png); }
.main-container .step-backward.icon { background-image: url(../../glyphicons/glyphicons_170_step_backward.png); }
.main-container .fast-backward.icon { background-image: url(../../glyphicons/glyphicons_171_fast_backward.png); }
.main-container .fast-forward.icon { background-image: url(../../glyphicons/glyphicons_177_fast_forward.png); }
.main-container .error.icon { background-image: url(../../glyphicons/glyphicons_196_circle_exclamation_mark.png); }
.main-container .error { float: right; }
.main-container .error-inline { background-color: red; opacity: 0.75; color: white; font-weight: bold; }
.main-container input[type=range] { width: 100%; }
.main-container .timeline { margin: 1em 0; }
.main-container .timeline .status { margin: 0 1em 0 0; float: left; }
.main-container .timeline .input-container { overflow: hidden;; }

.main-container .CodeMirror { line-height: normal;}
.main-container .script-view { display: none; }
.main-container .var-name { font-weight: bold; color: darkblue; }
.main-container .var-val { color: green; }
.main-container .var-assignment { color: gray; }

.main-container .bookmark { cursor: pointer; }
.main-container .bookmark, .widget-inner {
  background-color: rgba(173, 216, 230, .25); 
  padding: 0 0.5em;
}
.main-container .bookmark, .widget {  
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: blue;
  font-size: 0.75em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid lightblue;
  color: blue;
}
.main-container .widget {
  background-color: white;
  z-index: 2;
  margin-top : 0.25em;
  max-height: 25em;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}
.main-container .widget-inner { padding: 1px 0.5em; }
.main-container .widget-label.Function { color: green; }
.main-container .widget-label.Object { color: brown; }
.main-container .widget-label.Array { color: gray; }

.main-container .bookmark-loc { font-weight: bold; }
.main-container .current-loc { text-decoration: underline; }
.main-container .current { text-decoration: underline; }
.main-container .bookmark:hover { font-weight: bold; }

.main-container .continue-message { font-style: italic; }
