.main-container { height: 100%; }
.main-container nav {
  padding: 1em 1em 0em;
  height: 6.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.main-container .status { height: 1.25em; padding: 0 1.25em 0.25em; }
.main-container .error-summary { color: red; font-style: italic; cursor: pointer; }

/* .main-container .main-content { border-top: 1px solid; } */
.main-container.half .CodeMirror {
  border-right: 1px solid; 
  border-top:  1px solid;
}

/* Playing */
.main-container.playing .main-content,
.main-container.playing .status,
.main-container.playing.half iframe,
.main-container.playing.half .CodeMirror { border-color: green; }
.main-container.playing .play.icon,
.main-container .play.icon:hover,
.main-container .play.icon.active { color: darkgreen; }

/* Paused */
.main-container.paused .main-content,
.main-container.paused .status,
.main-container.paused.half iframe,
.main-container.paused.half .CodeMirror { border-color: orange; }
.main-container .pause.icon.active,
.main-container .pause.icon:hover { color: orange; }

/* Editing */
.main-container.editing .main-content,
.main-container.editing .status,
.main-container.editing.half iframe,
.main-container.editing.half .CodeMirror { border-color: blue; }
.main-container.editing .save-and-reload.icon { color: blue; }
.main-container.editing .save-and-reload.icon:hover { color: darkblue; }
.main-container .save-and-reload.icon:hover { color: darkblue; }

.main-container.half .CodeMirror { left: 0; right: 50%; }
.main-container.full .CodeMirror { left: 0; right: 0; }

.main-container .CodeMirror {  
  width: auto;
  position: fixed; 
  top:8em;
  bottom: 0;
  height: auto; 
}

iframe {
  position: fixed;
  right: 0;
  top: 6.5em;
  width:  50%;
  min-height: 100%;
  border: 0px;
  border-top:  1px solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: right;
}

.main-container a.github { float: right; }

.main-container .timeline {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.main-container .buttons { cursor: default; }

.main-container .error-inline { background-color: #fee; color: red; padding-left: 0.5em; }
.main-container .parse.error.alert {
  position: absolute; 
  z-index: 1;
  margin-top: 0.75em;
  margin-right: 1.25em;
  color: red;
  text-shadow: pink 0 0 2px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
}
.main-container .show.parse.error.alert {
  opacity: 0.6;
  pointer-events: auto;
  cursor: pointer;
  transition: opacity 1s;
}
.main-container.half .parse.error.alert { right: 50%; }
.main-container.full .parse.error.alert { right: 0%; }

.main-container .top { min-height: 1.5em; }
.main-container .parse.error { color: red; }
.main-container .parse.error.message { margin-left: 0.25em; }

.main-container input[type=range] {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 21px;
}

.main-container .timeline { margin: 1em 0; }
.main-container .timeline .buttons { margin: 0 1em 0 0; float: left; }
.main-container .timeline .input-container { overflow: hidden; padding-top: 2.5px;}

.main-container .CodeMirror { line-height: normal;}
.main-container .script-view { display: none; }
.main-container .var-name { font-weight: bold; color: darkblue; }
.main-container .var-val { color: green; }
.main-container .var-assignment { color: gray; }

.main-container .bookmark { cursor: pointer; }
.main-container .bookmark, .main-container .widget-inner {
  padding: 0 0.5em;
}
.main-container .widget-inner {
  margin: 0.5em 0em;
  max-height: 25em;
  overflow-y: auto;
  overflow-x: hidden;  
}

.main-container .bookmark,
.main-container .widget {  
  background-color: #eef;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: blue;
  font-size: 0.75em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border: 1px solid lightblue;
}
.main-container .widget {
  z-index: 2;
  margin-top : 0.25em;
  white-space: nowrap;
}
.main-container .widget-label.Function { color: green; }
.main-container .widget-label.Object { color: brown; }
.main-container .widget-label.Array { color: gray; }

.main-container .bookmark.caught, .main-container .widget.caught { 
  border-color: #fbb;
  background-color: #fee;
  color: #f00;
  font-weight: normal;
}

.main-container .current.bookmark.caught,
.main-container .current.widget.caught { 
  font-weight: bold;
  border-color: #d00;
  color: #d00;
}

.main-container .bookmark.message-loss,
.main-container .widget.message-loss {
  border-color: orange;
  background-color: lightyellow;
  color: orange;
}

.main-container .current.bookmark.message-loss,
.main-container .current.widget.message-loss {
  font-weight: bold;
  border-color: darkorange;
  color: darkorange;
}

.main-container .bookmark-loc { text-decoration: underline; }
.main-container .current-loc { font-weight: bold; background-color: lightblue; }
.main-container .current.bookmark, .main-container .current.widget {
  border: 1px solid blue;
}
.main-container .bookmark:hover { text-decoration: underline; }

.main-container .no-scripts-message .not-loading { opacity: 0; }
.main-container .no-scripts-message .not-loading.timer-elapsed {
  opacity: 1;
  transition: opacity 2s ease-in;
}

.main-container editor .CodeMirror-activeline-background {
  transition: box-shadow 0.5s;
}

.main-container editor.focused .CodeMirror-activeline-background {
  box-shadow: 0px 0px 3px 0px blue;
}
