.main-container { height: 100%; }
.main-container nav { padding: 1em 1em 0em; }

.main-container .status { height: 1.25em; padding: 0 1.25em 0.25em; }
.main-container .error-summary { color: red; font-style: italic; cursor: pointer; }

.main-container .main-content { border-top: 1px solid; }
.main-container.half .CodeMirror { border-right: 1px solid; }

/* Playing */
.main-container.playing .main-content,
.main-container.playing .status,
.main-container.playing.half .CodeMirror { border-color: green; }

/* Paused */
.main-container.paused .main-content,
.main-container.paused .status,
.main-container.paused.half .CodeMirror { border-color: orange; }

/* Editing */
.main-container.editing .main-content,
.main-container.editing .status,
.main-container.editing.half .CodeMirror { border-color: gray; }

.main-container.half .CodeMirror { left: 0; right: 50%; }
.main-container.full .CodeMirror { left: 0; right: 0; }

.main-container .CodeMirror {  
  width: auto;
  position: fixed; 
  top: 105px;
  bottom: 0;
  height: auto; 
}

iframe {
  width:  50%;
  min-height: 100%;
  border: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: right;
}

.main-container a.github { float: right; }

.main-container .timeline {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.main-container .buttons { cursor: default; }
.main-container .play.icon.active, .main-container .play.icon:hover { color: green; }
.main-container .pause.icon.active, .main-container .pause.icon:hover { color: orange; }

.main-container .error-inline { background-color: #fee; color: red; padding-left: 0.5em; }
.main-container .parse.error.alert {
  position: absolute; 
  z-index: 1;
  margin-top: 0.25em;
  margin-right: 1.25em;
  color: red;
  text-shadow: pink 0 0 2px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
}
.main-container .show.parse.error.alert {
  opacity: 0.6;
  pointer-events: auto;
  cursor: pointer;
  transition: opacity 1s;
}
.main-container.half .parse.error.alert { right: 50%; }
.main-container.full .parse.error.alert { right: 0%; }

.main-container .top { min-height: 1.5em; }
.main-container .parse.error { color: red; }
.main-container .parse.error.message { margin-left: 0.25em; }

.main-container input[type=range] { width: 100%; }
.main-container .timeline { margin: 1em 0; }
.main-container .timeline .buttons { margin: 0 1em 0 0; float: left; }
.main-container .timeline .input-container { overflow: hidden; padding-top: 5px;}

.main-container .CodeMirror { line-height: normal;}
.main-container .script-view { display: none; }
.main-container .var-name { font-weight: bold; color: darkblue; }
.main-container .var-val { color: green; }
.main-container .var-assignment { color: gray; }

.main-container .bookmark { cursor: pointer; }
.main-container .bookmark, .main-container .widget-inner {
  padding: 0 0.5em;
}
.main-container .widget-inner {
  margin: 0.5em 0em;
  max-height: 25em;
  overflow-y: auto;
  overflow-x: hidden;  
}

.main-container .bookmark,
.main-container .widget {  
  background-color: #eef;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: blue;
  font-size: 0.75em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border: 1px solid lightblue;
}
.main-container .widget {
  z-index: 2;
  margin-top : 0.25em;
  white-space: nowrap;
}
.main-container .widget-label.Function { color: green; }
.main-container .widget-label.Object { color: brown; }
.main-container .widget-label.Array { color: gray; }

.main-container .bookmark.caught, .main-container .widget.caught { 
  border-color: #fbb;
  background-color: #fee;
  color: #f00;
  font-weight: normal;
}

.main-container .bookmark.message-loss, .main-container .widget.message-loss {
  border-color: orange;
  background-color: lightyellow;
  color: orange;
  font-weight: normal;
}

.main-container .bookmark-loc { text-decoration: underline; }
.main-container .current-loc { font-weight: bold; background-color: lightblue; }
.main-container .current { font-weight: bold; }
.main-container .current.bookmark, .main-container .current.widget {
  border: 1px solid blue;
}
.main-container .bookmark:hover { text-decoration: underline; }

.main-container .no-scripts-message .not-loading { opacity: 0; }
.main-container .no-scripts-message .not-loading.timer-elapsed {
  opacity: 1;
  transition: opacity 2s ease-in;
}

